$black: #010409;
$white: #ffffff;
$gray0: #f0f6fc;
$gray1: #c9d1d9;
$gray2: #b1bac4;
$gray3: #8b949e;
$gray4: #6e7681;
$gray5: #484f58;
$gray6: #30363d;
$gray7: #21262d;
$gray8: #161b22;
$gray9: #0d1117;
$blue0: #cae8ff;
$blue1: #a5d6ff;
$blue2: #79c0ff;
$blue3: #58a6ff;
$blue4: #388bfd;
$blue5: #1f6feb;
$blue6: #1158c7;
$blue7: #0d419d;
$blue8: #0c2d6b;
$blue9: #051d4d;
$green0: #aff5b4;
$green1: #7ee787;
$green2: #56d364;
$green3: #3fb950;
$green4: #2ea043;
$green5: #238636;
$green6: #196c2e;
$green7: #0f5323;
$green8: #033a16;
$green9: #04260f;
$yellow0: #f8e3a1;
$yellow1: #f2cc60;
$yellow2: #e3b341;
$yellow3: #d29922;
$yellow4: #bb8009;
$yellow5: #9e6a03;
$yellow6: #845306;
$yellow7: #693e00;
$yellow8: #4b2900;
$yellow9: #341a00;
$orange0: #ffdfb6;
$orange1: #ffc680;
$orange2: #ffa657;
$orange3: #f0883e;
$orange4: #db6d28;
$orange5: #bd561d;
$orange6: #9b4215;
$orange7: #762d0a;
$orange8: #5a1e02;
$orange0: #3d1300;
$red0: #ffdcd7;
$red1: #ffc1ba;
$red2: #ffa198;
$red3: #ff7b72;
$red4: #f85149;
$red5: #da3633;
$red6: #b62324;
$red7: #8e1519;
$red8: #67060c;
$red9: #490202;
$purple0: #eddeff;
$purple1: #e2c5ff;
$purple2: #d2a8ff;
$purple3: #bc8cff;
$purple4: #a371f7;
$purple5: #8957e5;
$purple6: #6e40c9;
$purple7: #553098;
$purple8: #3c1e70;
$purple9: #271052;
$pink0: #ffdaec;
$pink1: #ffbedd;
$pink2: #ff9bce;
$pink3: #f778ba;
$pink4: #db61a2;
$pink5: #bf4b8a;
$pink6: #9e3670;
$pink7: #7d2457;
$pink8: #5e103e;
$pink9: #42062a;
$coral0: #ffddd2;
$coral1: #ffc2b2;
$coral2: #ffa28b;
$coral3: #f78166;
$coral4: #ea6045;
$coral5: #cf462d;
$coral6: #ac3220;
$coral7: #872012;
$coral8: #640d04;
$coral9: #460701;