@use "github" as *;

@function wildcardGen($class, $prefix: "", $suffix: "") {
  @return $prefix + '[class^="' + $class + '-"]' + $suffix + ", " + $prefix + '[class*=" ' + $class +
    '-"]' + $suffix;
}

$chat-border-color: $gray7;
$profile-border-radius: 12px;

:root {
  --search-popout-option-non-text-color: #{$gray2};
  --search-popout-option-filter-color: #{$gray2};
  --search-popout-option-answer-color: #{$gray2};
  --search-popout-date-picker-hint-text: #{$gray2};
  --channeltextarea-background: #{$gray9};

  --text-links: #{$blue2};
  --text-normal: #{$gray1};
  --text-muted: #{$gray2};

  --header-primary: #{$gray1};
  --header-secondary: #{$gray2};

  --background-primary: #{$gray9};
  --background-secondary: #{$gray8};
  --background-secondary-alt: #{$gray8};
  --background-tertiary: #{$gray7};
  --background-accent: #{$gray8};

  --text-positive: #{$green2};

  --background-modifier-selected: #{$gray8};
  --background-modifier-hover: #{$gray6};
  --background-modifier-active: #{$gray8};
  --background-modifier-accent: #{$gray6};

  --chanel-icon: #{$blue0};
  --channels-default: #{$blue0};

  --heading-1-color: #{$green1};
  --heading-2-color: #{$blue2};
}

ul[aria-label="Channels"] {
  --background-modifier-selected: #{$gray7};
  --background-modifier-active: #{$gray6};
}

#{wildcardGen("actionIcon")},
#{wildcardGen("iconContainer")} {
  svg {
    color: $blue0;
  }
}

// Set default username color to be green in the member list
#{wildcardGen("desaturateUserColors")} {
  color: $green0;
}

// Remove the gift nitro button
*[aria-label="Send a gift"] {
  display: none;
}

// Add a border around the "new message" input AND ONLY AROUND THAT
#{wildcardGen("form", "")} {
  #{wildcardGen("channelTextArea", " > ")} {
    border: $chat-border-color solid 4px;
  }
}

// Add a border onto the reply bar (I think the other border is overwritten? Not 100% sure)
#{wildcardGen("clipContainer")} {
  border-top: $chat-border-color solid 3px;
}

// Add a little glow to the profile menu
[aria-label="User area"] {
  box-shadow: 0 0 15px -5px $green2;

  // Round corners of your profile menu
  &,
  #{wildcardGen("container")} {
    border-top-left-radius: $profile-border-radius;
    border-top-right-radius: $profile-border-radius;
  }
}

// change the color of the top bar
section[aria-label="Channel header"],
main[aria-label="Friends"] > section {
  background-color: $gray8 !important;

  // remove the channel header gradient thing
  #{wildcardGen("children", "", "::after")} {
    background: transparent;
  }
}

// the badge saying "aka X name" should be darkened
#{wildcardGen("akaBadge")} {
  background-color: $gray9;
  padding: 3px 6px;
  box-sizing: content-box;
}

// Make hover message obvious
#{wildcardGen("messageListItem")} {
  // Make headings their special color
  h1 {
    color: var(--heading-1-color);
  }
  h2 {
    color: var(--heading-2-color);
  }

  --inner-color: #{$gray8};
  --outer-color: #{$gray9};

  background-color: var(--outer-color);

  // Make the edit area, embeds, inline code, code blocks, and spoilers be considered inner content (and therefor change color on cover)
  #{wildcardGen("channelTextArea", "", " > div")},
  #{wildcardGen("embedWrapper", "article")},
  code,
  #{wildcardGen("spoilerMarkdownContent")} {
    background-color: var(--inner-color);
  }

  // Make the stuff mentioned above be colored with the outer color when editing it in the message
  #{wildcardGen("channelTextArea")} {
    > #{wildcardGen("scrollableContainer")} {
      border: $chat-border-color solid 4px;
    }

    #{wildcardGen("embedWrapper", "article")},
    #{wildcardGen("inlineCode")},
    #{wildcardGen("codeLine")},
    // Code blocks need some... extra setup... this is the ``` parts
    #{wildcardGen("codeBlockSyntax", "div[data-slate-node=\"element\"]:has(>span>span", ")")},
    #{wildcardGen("after_inlineCode")},
    #{wildcardGen("before_inlineCode")},
    #{wildcardGen("spoilerMarkdownContent")} {
      background-color: var(--outer-color);
    }
  }

  &:hover {
    --inner-color: #{$gray9};
    --outer-color: #{$gray8};
  }
}

// Make the 'no typing indicator' and the emote button be at the bottom when editing a message
#{wildcardGen("inner")} {
  #{wildcardGen("buttons")} {
    align-self: end;
  }

  // make the connections buttons not look ugly asf
  &:is(button) {
    background-color: transparent;
  }
}

// special case for the "more" button
#{wildcardGen("accountAddInner", "button")} {
  background-color: transparent;
}

// Match message hover color in "Message Actions" buttons
[aria-label="Message Actions"] > div {
  background-color: $gray8;
}

// Emoji, gif, & sticker backgrounds
#{wildcardGen("contentWrapper")} {
  background-color: $gray7;

  #{wildcardGen("packHeader")},
  #{wildcardGen("header")} {
    background-color: transparent;
  }
}

// Modals
[aria-modal="true"] > div {
  --modal-background: #{$gray7};
  --modal-footer-background: #{$gray8};
  --header-secondary: var(--heading-2-color);

  h1 {
    color: $green1 !important;
  }

  button {
    background-color: $gray7;
  }

  #{wildcardGen("defaultColor")} {
    color: var(--header-secondary);
  }
}

#{wildcardGen("container", "", ":has(> div[data-list-id^=\"forum-channel-\"])")} {
  background-color: $gray7;
}

#{wildcardGen("autocomplete")} {
  background-color: $gray8 !important;

  &,
  #{wildcardGen("wrapper", "ul > ")} {
    background-color: $gray8 !important;
  }
}
