@use "github" as *;

@function wildcard($class) {
  @return '[class*="' + $class + '_"]';
}

$bg0: $black;
$bg1: $gray9;
$bg2: $gray8;
$border-color: $gray6;
$border: 1px solid $border-color;
$top-bar-height: 48px;
$border-radius: 25px;
$color-h: $blue2;
$color-h1: $green2;

.theme-dark,
.theme-light > [role="dialog"] {
  --background-primary: #{$bg0} !important;
  --background-secondary: #{$bg1} !important;
  --background-secondary-alt: #{$bg1} !important;
  --background-tertiary: #{$bg2} !important;
  --channeltextarea-background: #{$bg1} !important;
  --text-normal: #{$white} !important;

  --__spoiler-background-color--hidden: #{$bg1} !important;
  --__spoiler-background-color--hidden--hover: #{$bg2} !important;
  --__spoiler-background-color--revealed: #{$bg2} !important;

  --background-floating: #{$bg1} !important;

  --scrollbar-auto-track: #{$gray7} !important;
  --scrollbar-auto-thumb: #{$gray9} !important;

  --background-message-hover: #{rgba($bg1, 0.25)} !important;

  --modal-background: #{$bg1} !important;
  --modal-footer-background: #{$bg1} !important;

  --background-modifier-hover: #{$bg2} !important;
  --background-modifier-active: #{$bg2} !important;
  --background-modifier-selected: #{$gray7} !important;

  --home-background: #{$bg1} !important;
  --__header-bar-background: #{$black} !important;
}

@mixin topBar($heighDelta: 0px) {
  background-color: var(--background-primary);
  border-bottom: $border;
  height: calc($top-bar-height + $heighDelta);
}

// Forum & other channel headers
section#{wildcard("container")}:has(> #{wildcard("upperContainer")}),
#{wildcard("container")} > header#{wildcard("header")} {
  @include topBar;
}

// The search bar needs to be offset by 1 bc of border (I think)
#{wildcard("privateChannels")} > #{wildcard("searchBar")} {
  @include topBar(-1px);
}

// Make the guild bar be considered a primary bg
[data-list-id="guildsnav"] {
  background-color: var(--background-primary);
}

// Color the headings of messages (and don't pollute other headings)
#{wildcard("messageContent")} {
  h1 {
    color: $color-h1 !important;
  }
  h2,
  h3,
  h4 {
    color: $color-h !important;
  }
}

// Make the rest of the really big headings green
#{wildcard("heading-xxl-extrabold")} {
  color: $color-h1 !important;
}

// Message buttons
#{wildcard("buttonContainer")} > div > #{wildcard("buttonsInner")} {
  background-color: $bg1;
  border-radius: $border-radius !important;
}

[id="message"][role="menu"],
[id="thread-context"][role="menu"],
[id="message-actions"] {
  background-color: $bg1;
  border-radius: $border-radius !important;

  #{wildcard("customItem")} > div {
    background-color: $bg1;

    &:hover {
      background-color: $bg2;
    }
  }
}

// forum backgrounds
#{wildcard("chatContainer")} > #{wildcard("container")} {
  &:has(> #{wildcard("grid")}),
  &:has(> div[data-list-id^="forum-channel"]) {
    background: $bg0 !important;

    // forum post
    #{wildcard("mainCard")} {
      --background-primary: #{$bg1};
      --background-modifier-hover: #{$gray7} !important;
      --background-modifier-active: #{$gray7} !important;
      --background-modifier-selected: #{$bg2} !important;

      #{wildcard("textContentFooter")} {
        background: none !important;
      }

      #{wildcard("contentPreview")} {
        background: $bg0 !important;
      }
    }
  }
}

#{wildcard("chatLayerWrapper")} > div {
  border-radius: 0 !important;
  border: 0 !important;
  filter: none !important;

  > #{wildcard("chat")} {
    filter: drop-shadow(0 8px 40px rgba($bg0, 1));
  }
}

#{wildcard("connectionsContainer")} button {
  background-color: transparent;
}

// Emoji & Sticker picker
div[id$="-picker-tab-panel"] {
  --background-accent: #{$gray7};

  > #{wildcard("categoryList")} {
    --background-primary: #{$bg2};
    background: $bg1;
  }
}

// User Area (bottom left)
#{wildcard("sidebar")} > section#{wildcard("panels")} {
  // VC chat has a little bar on top
  > #{wildcard("wrapper")} > div {
    border-bottom: 0;
    border-top: 1px solid var(--background-modifier-accent);
  }

  // Add a lil glow to the area
  > #{wildcard("container")} {
    box-shadow: 0 0 15px -5px $green2;
    border-top-left-radius: $border-radius * 0.75;
    border-top-right-radius: $border-radius * 0.75;
  }
}

// Aka badge
#{wildcard("akaBadge")} {
  background-color: $bg2 !important;
  padding: 3px 6px !important;
  box-sizing: content-box !important;
}

// The silly :3 light modals
.theme-light > [role="dialog"] {
  --background-modifier-hover: #{$bg2};
  --background-modifier-active: #{$bg2};
  --background-modifier-selected: #{$bg1};
  --header-secondary: #{$color-h} !important;
  --header-primary: #{$color-h1} !important;
}

// Lighter guild header menu
[id="guild-header-popout"] {
  --background-floating: #{$bg2};
  border-radius: $border-radius !important;
}

// Don't color backgrounds of the channel icons
#{wildcard("emptyChannelIcon")} {
  background-color: transparent;
}

#{wildcard("autocomplete")}:has(> #{wildcard("autocompleteInner")}) {
  --background-primary: #{$gray7};

  background-color: $bg1 !important;

  > div > #{wildcard("rail")} {
    &,
    > div {
      background-color: $bg1 !important;
    }
  }

  #{wildcard("categoryHeader")} {
    background-color: $bg1;
  }
}

// Darken inline code while editing text (markdown fuckery)
div[role="textbox"] span[class*="inlineCode"] {
  background: $bg2;
}

// polls
div#{wildcard("pollContainer")} {
  background-color: transparent;

  > div#{wildcard("header")} {
    > h4 {
      color: $color-h1;
      font-size: 1.5rem !important;
    }
    > a {
      align-self: center;
    }
  }

  > ul > li {
    --bg-mod-faint: transparent;

    &#{wildcard("normalStylesDefault")} {
      --custom-poll-style-vote-percentage: #{$bg1};
    }
  }
}
